<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='friends/maindark.css')}}">

<style>
  body {
    color: #000000;
    background: #000000;
  }
  
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
</style>
<body>
<article class="markdown-body">
  <h1>Hello my fellow friends!</h1>
  <p>Here is where I make profiles for you! Wanna be a part of it? Request <a href="https://www.ewxun.ml/friends/create">here</a>!</p>
  <h2>Friends List</h2>
  <p>Click on the name for more info!</p>
  <ul>
        <li>Wong Je Xun</li>    <li>Yau Zhi Shan</li>    <li><a href="https://www.ewxun.ml/friends/view/lee_weng_hoe">Lee Weng Hoe</a></li>

  </ul>
</article>
</body>